App_WebReferences/ServiceReference1/IvrIDCardApplicationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://to-be-provided" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="IvrIDCardApplicationWS" targetNamespace="http://to-be-provided" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://to-be-provided">
      <xsd:element name="GetApplicationTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDCardApplicationSearchRequestList">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="InterfaceLanguage">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Arabic" />
                        <xsd:enumeration value="English" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" maxOccurs="1" name="IDCardApplicationSearchRequest_IDCardApplicationSearchRequestList">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="IDCardApplicationSearchRequest">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ApplicationNumber" type="xsd:string" />
                              <xsd:element minOccurs="0" name="IDN" type="xsd:long" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApplicationTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDCardApplicationResponses">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                  <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                  <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="IDCardApplicationResponse_WebServiceResponse">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="IDCardApplicationResponse">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ApplicationNumber" type="xsd:string" />
                              <xsd:element minOccurs="0" name="ServiceName" type="xsd:string" />
                              <xsd:element minOccurs="0" name="ApplicantName" type="xsd:string" />
                              <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
                              <xsd:element minOccurs="0" name="IDN" type="xsd:long" />
                              <xsd:element minOccurs="0" name="ApplicationStatusCode" type="xsd:string" />
                              <xsd:element minOccurs="0" name="ApplicationStatusDescription" type="xsd:string" />
                              <xsd:element minOccurs="0" name="NextStepGuidanceCode" type="xsd:string" />
                              <xsd:element minOccurs="0" name="NextStepGuidanceDescription" type="xsd:string" />
                              <xsd:element minOccurs="0" name="NextStepDaysLimit" type="xsd:long" />
                              <xsd:element minOccurs="1" name="RequireEnrollmentInd" type="xsd:boolean" />
                              <xsd:element minOccurs="1" name="TotalFees" type="xsd:double" />
                              <xsd:element minOccurs="1" name="TotalPayment" type="xsd:double" />
                              <xsd:element minOccurs="0" name="RecieptNumber" type="xsd:string" />
                              <xsd:element minOccurs="0" name="TransactionNumber" type="xsd:string" />
                              <xsd:element minOccurs="1" name="IsNextStepEidaAction" type="xsd:boolean" />
                              <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                              <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                              <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                              <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                              <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTrackingEvent_IDCardApplicationResponse">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTrackingEvent">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element minOccurs="0" name="EventCode" type="xsd:long" />
                                          <xsd:element minOccurs="0" name="EventDate" type="xsd:dateTime" />
                                          <xsd:element minOccurs="0" name="EventName" type="xsd:string" />
                                          <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTrackingEventParam_ApplicationTrackingEvent">
                                            <xsd:complexType>
                                              <xsd:sequence>
                                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTrackingEventParam">
                                                  <xsd:complexType>
                                                    <xsd:sequence>
                                                      <xsd:element minOccurs="0" name="ParameterCode" type="xsd:long" />
                                                      <xsd:element minOccurs="0" name="ParameterName" type="xsd:string" />
                                                      <xsd:element minOccurs="0" name="ParameterValue" type="xsd:string" />
                                                    </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApplicationFees">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="NewCardDuration" type="xsd:long" />
            <xsd:element minOccurs="1" name="IDN" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApplicationFeesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDCardApplicationResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="TotalFees" type="xsd:double" />
                  <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                  <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                  <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="Fees_IDCardApplicationResponse">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fees">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FeeAmount" type="xsd:double" />
                              <xsd:element minOccurs="0" name="FeeType">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="Card_Issuance" />
                                    <xsd:enumeration value="Service_Fees" />
                                    <xsd:enumeration value="Fines" />
                                    <xsd:enumeration value="Red_Crescent" />
                                    <xsd:enumeration value="Home_delivery" />
                                    <xsd:enumeration value="Zakat_Fund" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitApplicationPayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="PaymentAmount" type="xsd:double" />
            <xsd:element minOccurs="1" name="ApplicationNumber" type="xsd:string" />
            <xsd:element minOccurs="1" name="PaymentReferenceNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitApplicationPaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WebServiceResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                  <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                  <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsApplicationValid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="IDN" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsApplicationValidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WebServiceResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                  <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                  <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitApplication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StagingApplication">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="ApplicationLanguage">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Arabic" />
                        <xsd:enumeration value="English" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="1" name="IDN" type="xsd:long" />
                  <xsd:element minOccurs="1" name="NewCardDuration" type="xsd:long" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="StagingPerson_StagingApplication">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="StagingPerson">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="ContactMobilePhoneNumber" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitApplicationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDCardApplicationResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="ApplicationNumber" type="xsd:string" />
                  <xsd:element minOccurs="1" name="RequireEnrollmentInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="TotalFees" type="xsd:double" />
                  <xsd:element minOccurs="1" name="SucceedInd" type="xsd:boolean" />
                  <xsd:element minOccurs="0" name="Code" type="xsd:long" />
                  <xsd:element minOccurs="0" name="DescriptionAr" type="xsd:string" />
                  <xsd:element minOccurs="0" name="DescriptionEn" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="Fees_IDCardApplicationResponse">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fees">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="FeeAmount" type="xsd:double" />
                              <xsd:element minOccurs="0" name="FeeType">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="Card_Issuance" />
                                    <xsd:enumeration value="Service_Fees" />
                                    <xsd:enumeration value="Fines" />
                                    <xsd:enumeration value="Red_Crescent" />
                                    <xsd:enumeration value="Home_delivery" />
                                    <xsd:enumeration value="Zakat_Fund" />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authentication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetApplicationTrackingRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:GetApplicationTracking" />
  </wsdl:message>
  <wsdl:message name="GetApplicationTrackingResponse">
    <wsdl:part name="result" element="tns:GetApplicationTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationFeesRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:GetApplicationFees" />
  </wsdl:message>
  <wsdl:message name="GetApplicationFeesResponse">
    <wsdl:part name="result" element="tns:GetApplicationFeesResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationPaymentRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:SubmitApplicationPayment" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationPaymentResponse">
    <wsdl:part name="result" element="tns:SubmitApplicationPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IsApplicationValidRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:IsApplicationValid" />
  </wsdl:message>
  <wsdl:message name="IsApplicationValidResponse">
    <wsdl:part name="result" element="tns:IsApplicationValidResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:SubmitApplication" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationResponse">
    <wsdl:part name="result" element="tns:SubmitApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IvrIDCardApplicationWSPortType">
    <wsdl:operation name="GetApplicationTracking">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:GetApplicationTrackingRequest" />
      <wsdl:output message="tns:GetApplicationTrackingResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationFees">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:GetApplicationFeesRequest" />
      <wsdl:output message="tns:GetApplicationFeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationPayment">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:SubmitApplicationPaymentRequest" />
      <wsdl:output message="tns:SubmitApplicationPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsApplicationValid">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:IsApplicationValidRequest" />
      <wsdl:output message="tns:IsApplicationValidResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubmitApplication">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:SubmitApplicationRequest" />
      <wsdl:output message="tns:SubmitApplicationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IvrIDCardApplicationWSSoap" type="tns:IvrIDCardApplicationWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationTracking">
      <soap:operation soapAction="http://to-be-providedGetApplicationTracking" />
      <wsdl:input>
        <soap:header message="tns:GetApplicationTrackingRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationFees">
      <soap:operation soapAction="http://to-be-providedGetApplicationFees" />
      <wsdl:input>
        <soap:header message="tns:GetApplicationFeesRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationPayment">
      <soap:operation soapAction="http://to-be-providedSubmitApplicationPayment" />
      <wsdl:input>
        <soap:header message="tns:SubmitApplicationPaymentRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsApplicationValid">
      <soap:operation soapAction="http://to-be-providedIsApplicationValid" />
      <wsdl:input>
        <soap:header message="tns:IsApplicationValidRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApplication">
      <soap:operation soapAction="http://to-be-providedSubmitApplication" />
      <wsdl:input>
        <soap:header message="tns:SubmitApplicationRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IvrIDCardApplicationWS">
    <wsdl:port name="IvrIDCardApplicationWSPort" binding="tns:IvrIDCardApplicationWSSoap">
      <soap:address location="https://eform.emiratesid.ae/ws/IvrIDCardApplicationWS/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>