App_WebReferences/wsApplicationTracking/ApplicationTracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.omnix-group.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="ApplicationTracking" targetNamespace="http://www.omnix-group.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.omnix-group.com/">
      <xsd:element name="GetApplicationList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="PRAN" type="xsd:string" />
            <xsd:element minOccurs="1" name="MobileNumber" type="xsd:string" />
            <xsd:element minOccurs="1" name="IDN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApplicationListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApplicationTrackingResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" name="ResponseCode" type="xsd:string" />
                  <xsd:element minOccurs="1" name="ResponseDesc" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTrackingInfo_Response">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTrackingInfo">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="1" name="ApplicationID" type="xsd:string" />
                              <xsd:element minOccurs="1" name="ArabicName" type="xsd:string" />
                              <xsd:element minOccurs="1" name="EnglishName" type="xsd:string" />
                              <xsd:element minOccurs="1" name="MobileNumber" type="xsd:string" />
                              <xsd:element minOccurs="1" name="EmirateId" type="xsd:string" />
                              <xsd:element minOccurs="1" name="RecieptNumber" type="xsd:string" />
                              <xsd:element minOccurs="1" name="TransactionNumber" type="xsd:string" />
                              <xsd:element minOccurs="1" name="ServiceNameAr" type="xsd:string" />
                              <xsd:element minOccurs="1" name="ServiceNameEn" type="xsd:string" />
                              <xsd:element minOccurs="1" name="CurrentStatusAr" type="xsd:string" />
                              <xsd:element minOccurs="1" name="CurrentStatusEn" type="xsd:string" />
                              <xsd:element minOccurs="1" name="GuidanceAr" type="xsd:string" />
                              <xsd:element minOccurs="1" name="GuidanceEn" type="xsd:string" />
                              <xsd:element minOccurs="1" name="NextStepAr" type="xsd:string" />
                              <xsd:element minOccurs="1" name="NextStepEn" type="xsd:string" />
                              <xsd:element minOccurs="1" name="Language" type="xsd:string" />
                              <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTrackingEvent_Info">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTrackingEvent">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element minOccurs="1" name="EventCode" type="xsd:long" />
                                          <xsd:element minOccurs="1" name="EventDate" type="xsd:dateTime" />
                                          <xsd:element minOccurs="1" name="EventArabicName" type="xsd:string" />
                                          <xsd:element minOccurs="1" name="EventEnglishName" type="xsd:string" />
                                          <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationTrackingEventParam_Event">
                                            <xsd:complexType>
                                              <xsd:sequence>
                                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ApplicationTrackingEventParam">
                                                  <xsd:complexType>
                                                    <xsd:sequence>
                                                      <xsd:element minOccurs="1" name="ParameterCode" type="xsd:long" />
                                                      <xsd:element minOccurs="1" name="ParameterArabicName" type="xsd:string" />
                                                      <xsd:element minOccurs="1" name="ParameterEnglishName" type="xsd:string" />
                                                      <xsd:element minOccurs="1" name="ParameterArabicValue" type="xsd:string" />
                                                      <xsd:element minOccurs="1" name="ParameterEnglishValue" type="xsd:string" />
                                                    </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authentication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetApplicationListRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:GetApplicationList" />
  </wsdl:message>
  <wsdl:message name="GetApplicationListResponse">
    <wsdl:part name="result" element="tns:GetApplicationListResponse" />
  </wsdl:message>
  <wsdl:portType name="ApplicationTrackingPortType">
    <wsdl:operation name="GetApplicationList">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:GetApplicationListRequest" />
      <wsdl:output message="tns:GetApplicationListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationTrackingSoap" type="tns:ApplicationTrackingPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationList">
      <soap:operation soapAction="http://www.omnix-group.com/GetApplicationList" />
      <wsdl:input>
        <soap:header message="tns:GetApplicationListRequest" part="request_header" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationTracking">
    <wsdl:port name="ApplicationTrackingPort" binding="tns:ApplicationTrackingSoap">
      <soap:address location="https://eform.emiratesid.ae/ws/ApplicationTracking/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>